@import "./components/geralStyle.scss";

$name: 'Login';

.#{$name}_body {
    @include Body();

    .#{$name}_box {
        $width:700px;
        @include Box($width, 500px);
        border-radius: 20px;
        border: 1px solid rgba($color: #000000, $alpha: 0.4);
        box-shadow: 5px 5px 3px rgba($color: #000000, $alpha: 0.4);

        img{
            width: 200px;
            height: 100px;
        }
        h1{
            font-weight: 600;
            font-size: 25px;
            font-family:Arial, Helvetica, sans-serif;
        }
        .#{$name}_container_input{
            display: flex;
            flex-direction: column;
        .#{$name}_titulo_input{
           @include TituloInput(20px);
        }
        .#{$name}_input{
            width: $width*0.5;
            height: 25px;
        }
        .#{$name}_Form{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            button{
                width: 80%;
                height: 35px;
                color: white;
                background-color: rgb(1, 160, 1);
                border: none;
                box-shadow: 3px 3px 3px rgba($color: #000000, $alpha: 0.4);
                opacity: 1;
                transition: all 0.5s;
                cursor: pointer;
                &:hover{
                    opacity: 0.6;
                }
            }
        }
        
    }
    }
}